@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes heartBeat {
  0% {
    transform: scale(0.33);
  }
  25% {
    transform: scale(0.66);
  }
  50% {
    transform: scale(0.99);
  }
  75% {
    transform: scale(0.66);
  }
  100% {
    transform: scale(0.33);
  }
}
@keyframes affixFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes affixFadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes affixFadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes affixFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}
.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}
@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
.flipOutX {
  animation-name: flipOutX;
  backface-visibility: visible !important;
}
@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}
.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInDown {
  animation-name: slideInDown;
}
body {
  font: 13px/1.1 Helvetica, sans-serif;
  padding: 20px 0;
  font-family: 'Lato';
}
body,
html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: 'Lato', 'PT Sans', Arial, Helvetica, Verdana, sans-serif;
}
svg {
  display: block;
}
svg:not(:root) {
  overflow: hidden;
}
svg#bigHalfCircle {
  background-color: rgba(0, 0, 0, 0);
}
svg#bigHalfCircle path {
  background-color: rgba(0, 0, 0, 0);
  fill: #FFF;
  stroke: rgba(0, 0, 0, 0);
}
svg#bigTriangleColor {
  background: #cccccc;
}
svg#bigTriangleColor path {
  fill: #FFF;
  stroke: #FFF;
}
svg#slit {
  background: #cccccc;
}
svg#slit path {
  background: #cccccc;
}
svg#slit #slitPath1 {
  fill: #FFF;
  stroke: red;
  stroke-width: 0;
}
svg#slit #slitPath2,
svg#slit #slitPath3 {
  fill: #999999;
}
.centered {
  text-align: center;
}
.bs {
  padding-bottom: 30px;
}
.ts {
  padding: 20px 0;
}
.mobile-hide {
  display: none;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.bounce {
  animation: bounce 2s infinite;
}
.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
  background-size: contain;
  z-index: 999;
}
.home-page {
  max-width: 100%;
  width: 100%;
}
.home-page #video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(images/location.jpg) no-repeat;
  background-size: cover;
  bottom: 0;
}
.home-page #video .video-container video {
  display: none;
}
.home-page #home {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}
.home-page #home .welcome {
  color: #FFF;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 102;
}
.home-page #home .welcome h5 {
  color: #FFF;
}
.home-page #home .welcome h5.welcome-hello {
  animation: bounceIn 1s;
}
.home-page #home .welcome h5.welcome-from {
  opacity: 0;
  animation: bounceIn 1s ease-in-out 1.45s forwards;
}
.home-page #home .welcome h5.welcome-from .fa-heart {
  color: hotpink;
  animation: heartBeat 1s ease-in-out 2.5s infinite;
}
.home-page #about {
  background-color: #FFF;
}
.home-page #about .profile-pic-container {
  text-align: center;
}
.home-page #about .profile-pic-container img {
  max-width: 100%;
  border-radius: 50%;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}
.home-page #projects {
  background-color: #cccccc;
  width: 100%;
  height: auto;
}
.home-page #projects .portfolio {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  line-height: 30px;
}
.home-page #projects .portfolio .portfolio-item {
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
}
.home-page .footer {
  background: repeating-linear-gradient(45deg, #111111, #111111 50px, #222222 50px, #222222 100px);
}
.home-page .footer ul {
  list-style: none;
  padding-top: 10px;
}
.home-page .footer ul li {
  display: inline-block;
}
.home-page .footer a {
  color: #FFF;
}
.home-page .no-video .video-container video,
.home-page .touch .video-container video {
  display: none;
}
.home-page .no-video .video-container .poster,
.home-page .touch .video-container .poster {
  display: block !important;
}
.home-page .homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.home-page .homepage-hero-module .video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.home-page .homepage-hero-module .video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.home-page .homepage-hero-module .video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.home-page .homepage-hero-module .video-container video.fillWidth {
  width: 100%;
}
.home-page .homepage-hero-module .video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 992px) {
  .mobile-hide {
    display: block;
  }
  .bs {
    padding-bottom: 60px;
  }
  .video-container video {
    display: block !important;
  }
  .video-container .poster {
    display: none;
    visibility: hidden;
  }
  #home .welcome h5.welcome-hello {
    font-size: 3em;
  }
  #home .welcome h5.welcome-from {
    font-size: 2.5em;
  }
  .ts {
    padding: 80px 0 40px 0;
  }
}
@media screen and (max-width:991px) {
  .bs {
    padding-bottom: 80px;
  }
  .ts {
    padding: 60px 0;
  }
}
@media screen and (max-width:767px) {
  .bs {
    padding-bottom: 65px;
  }
  .ts {
    padding: 45px 0;
  }
}
@media screen and (max-width:639px) {
  .bs {
    padding-bottom: 50px;
  }
  .ts {
    padding: 35px 0;
  }
}
@media screen and (min-width:320px) and (max-width:767px) {
  .welcome-hello {
    font-size: 2em;
  }
  .welcome-from {
    margin-top: 15px;
    font-size: 1.5em;
  }
  #about .profile-pic {
    height: 200px;
  }
  .portfolio .portfolio-item {
    width: 100%;
    margin: 30px 5px;
  }
  .portfolio .portfolio-item .item-image {
    height: 100%;
    vertical-align: middle;
    width: 33%;
    float: left;
    display: inline-block;
  }
  .portfolio .portfolio-item .item-image .logo {
    width: 80%;
    display: inline-block;
  }
  .portfolio .portfolio-item .item-information {
    width: 66%;
    display: inline-block;
  }
  .portfolio .portfolio-item .item-information .item-background {
    display: none;
  }
  .portfolio .portfolio-item .item-information .item-description {
    height: 100%;
  }
  .portfolio .portfolio-item .item-information .item-description h4 {
    color: #000;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0 0 5px;
  }
  .portfolio .portfolio-item .item-information .item-description div {
    font-size: 13px;
    color: #000;
    line-height: 15px;
  }
  .portfolio .portfolio-item .item-information .item-description div a {
    color: #FFF;
    text-decoration: none;
  }
  .portfolio .portfolio-item .item-information .item-description .item-icons {
    display: none;
  }
  .footer ul {
    padding-left: 0;
  }
  .footer ul li {
    font-size: 1.2em;
    margin: 0 8px;
  }
  .footer a.github,
  .footer a.steam {
    color: white;
  }
  .footer a.linkedin {
    color: #517fa4;
  }
  .footer a.facebook {
    color: #3b5998;
  }
  .footer a.twitter {
    color: #00aced;
  }
  .footer a.google {
    color: #dd4b39;
  }
}
@media screen and (min-width: 768px) {
  .lead {
    font-size: 18px !important;
  }
  nav {
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
  }
  nav.navbar {
    margin-bottom: 0 !important;
  }
  nav.affix {
    animation: flipInX 1.25s ease-in;
    -webkit-animation: flipInX 1.25s;
  }
  nav.affix .navbar-brand {
    cursor: default;
  }
  nav.affix .navbar-brand:hover {
    cursor: default;
  }
  nav.affix-top {
    background-color: #FFF;
    background-image: linear-gradient(#ffffff, #ececec);
    border-color: #ecebec;
    animation: slideInDown 0.95s ease-in;
    -webkit-animation: slideInDown 0.95s;
  }
  nav.affix-top a {
    color: #000;
  }
  nav.affix-top a:hover {
    color: #808080;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
  nav.affix-top .navbar-brand {
    font-size: 30px;
    color: #000;
    cursor: default;
  }
  nav.affix-top .navbar-brand:hover {
    color: #808080;
    cursor: default;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
  nav.affix-top #navbar {
    display: none !important;
  }
  nav.affix-top .navbar-toggle {
    display: none !important;
  }
  #home {
    position: relative;
    height: 100%;
    width: 100%;
  }
  #home .welcome {
    color: #FFF;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 102;
  }
  #home .welcome h5 {
    color: #FFF;
  }
  #home .welcome h5.welcome-hello {
    font-size: 2em;
    animation: bounceIn 1s;
  }
  #home .welcome h5.welcome-from {
    margin-top: 15px;
    font-size: 1.5em;
    opacity: 0;
    animation: bounceIn 1s ease-in-out 1.45s forwards;
  }
  #home .welcome h5.welcome-from .fa-heart {
    color: hotpink;
    animation: heartBeat 1s ease-in-out 2.5s infinite;
  }
  #about .intro-blurb .col-md-6:nth-of-type(1) {
    padding-top: 20px;
  }
  #about .intro-blurb .profile-pic-container .profile-pic {
    height: 300px;
  }
  .portfolio-item {
    width: 350px;
    height: 200px;
    margin: 5px;
    -moz-transition: all ease-in-out 250ms;
    -o-transition: all ease-in-out 250ms;
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
  }
  .portfolio-item .item-image {
    line-height: 200px;
  }
  .portfolio-item .item-image .logo {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    max-width: 100%;
  }
  .portfolio-item .item-image .logo.dark-image {
    opacity: 0.7;
  }
  .portfolio-item .item-information {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -moz-transition: all ease-in-out 250ms;
    -o-transition: all ease-in-out 250ms;
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
    background: rgba(0, 0, 0, 0);
  }
  .portfolio-item .item-information .item-description,
  .portfolio-item .item-information .item-background {
    position: relative;
    bottom: -200px;
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all ease-in-out 250ms;
    -o-transition: all ease-in-out 250ms;
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
    padding: 7.5px;
    opacity: 1;
  }
  .portfolio-item .item-information .item-description .item-icons,
  .portfolio-item .item-information .item-background .item-icons {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
  .portfolio-item .item-information .item-description .item-icons span,
  .portfolio-item .item-information .item-background .item-icons span {
    color: #fff;
  }
  .portfolio-item .item-information .item-description .item-icons span .fa-link,
  .portfolio-item .item-information .item-background .item-icons span .fa-link {
    top: 1px;
  }
  .portfolio-item .item-information .item-description .item-icons .icon-link,
  .portfolio-item .item-information .item-background .item-icons .icon-link,
  .portfolio-item .item-information .item-description .item-icons .icon-modal,
  .portfolio-item .item-information .item-background .item-icons .icon-modal {
    display: inline-block;
  }
  .portfolio-item .item-information .item-description .item-icons .icon-modal,
  .portfolio-item .item-information .item-background .item-icons .icon-modal {
    cursor: pointer;
  }
  .portfolio-item .item-information .item-description .item-details,
  .portfolio-item .item-information .item-background .item-details {
    padding-top: 10px;
  }
  .portfolio-item .item-information .item-description .item-details h4,
  .portfolio-item .item-information .item-background .item-details h4 {
    color: #000;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0 0 5px;
  }
  .portfolio-item .item-information .item-description .item-details p,
  .portfolio-item .item-information .item-background .item-details p {
    padding-top: 5px;
    font-size: 13px;
    color: #000;
    line-height: 15px;
  }
  .portfolio-item.circle .logo {
    max-width: 150px;
  }
  .portfolio-item.bw .item-background {
    background: #e22016;
  }
  .portfolio-item.bw .item-description .fa-link,
  .portfolio-item.bw .item-description .fa-search {
    color: #e22016;
  }
  .portfolio-item.hs .item-background {
    background: #3d822e;
  }
  .portfolio-item.hs .item-description .fa-link,
  .portfolio-item.hs .item-description .fa-search {
    color: #3d822e;
  }
  .portfolio-item.rka .item-background {
    background: #ee3124;
  }
  .portfolio-item.rka .item-description .fa-link,
  .portfolio-item.rka .item-description .fa-search {
    color: #ee3124;
  }
  .portfolio-item.vf .item-background {
    background: #005bab;
  }
  .portfolio-item.vf .item-description .fa-link,
  .portfolio-item.vf .item-description .fa-search {
    color: #005bab;
  }
  .portfolio-item.yt .item-background {
    background: #dc1e37;
  }
  .portfolio-item.yt .item-description .fa-link,
  .portfolio-item.yt .item-description .fa-search {
    color: #dc1e37;
  }
  .portfolio-item.col .item-background {
    background: #e87722;
  }
  .portfolio-item.col .item-description .fa-link,
  .portfolio-item.col .item-description .fa-search {
    color: #e87722;
  }
  .portfolio-item.cub .item-background {
    background: #ffc82f;
  }
  .portfolio-item.cub .item-description .fa-link,
  .portfolio-item.cub .item-description .fa-search {
    color: #ffc82f;
  }
  .portfolio-item.com .item-background {
    background: #77bd1e;
  }
  .portfolio-item.com .item-description .fa-link,
  .portfolio-item.com .item-description .fa-search {
    color: #77bd1e;
  }
  .portfolio-item:hover,
  .portfolio-item:focus {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
  .portfolio-item:hover .feature-box-overlay,
  .portfolio-item:focus .feature-box-overlay {
    background: rgba(0, 0, 0, 0.1);
  }
  .portfolio-item:hover .item-background,
  .portfolio-item:focus .item-background {
    bottom: 0;
    opacity: 0.9;
  }
  .portfolio-item:hover .item-description,
  .portfolio-item:focus .item-description {
    bottom: 200px;
  }
  .portfolio-item:hover .item-image .logo,
  .portfolio-item:focus .item-image .logo {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.2;
  }
  .portfolio-item:hover .item-image .logo.dark-image,
  .portfolio-item:focus .item-image .logo.dark-image {
    opacity: 0.2;
  }
  .footer ul {
    padding-top: 10px;
  }
  .footer ul li {
    font-size: 20px;
    margin: 0 8px;
  }
  .footer a .move-me {
    top: -3px;
  }
  .footer a .fa-facebook,
  .footer a .fa-google-plus {
    top: -1px;
  }
  .footer a.email:hover .fa-square-o {
    color: #ee3124;
  }
  .footer a.github:hover .fa-square-o {
    color: #4c4c4c;
  }
  .footer a.linkedin:hover .fa-square-o {
    color: #517fa4;
  }
  .footer a.facebook:hover .fa-square-o {
    color: #3b5998;
  }
  .footer a.twitter:hover .fa-square-o {
    color: #00aced;
  }
  .footer a.google:hover .fa-square-o {
    color: #dd4b39;
  }
  .footer a.steam:hover .fa-square-o {
    color: #4c4c4c;
  }
  .modal-image {
    max-width: 100%;
  }
}
