@galaxy: ~"only screen and (min-width: 360px)";
@iphone6: ~"only screen and (min-width: 375px)";
@plus: ~"only screen and (min-width: 414px)";
@ils: ~"only screen and (min-width: 480px)";
@i5ls: ~"only screen and (min-width: 568px)";
@ls: ~"only screen and (min-width: 640px)";
@mon: ~"only screen and (min-width: 768px)";
@nex: ~"only screen and (min-width: 800px)";
@fs: ~"only screen and (min-width: 960px)";
@desk: ~"only screen and (min-width: 1200px)";

@font-face {
}

body, html {
    height: 100%;
    min-height: 100%;
}

.home-page {
    background-color: rgba(221, 75, 57, 1);

    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        @media @desk {
            position: fixed;
            border-right: 2px solid #fff !important;
            height: 100%;
            width: 500px;
            margin-bottom: 0;
            border-radius: 0;
        }
    }

    .navbar.navbar-default {
        min-height: 75px;
        background: url('../images/nav-background.jpg') no-repeat center;
        background-attachment: fixed;
        border: none;
        border-bottom: solid #fff 2px !important;

        @media @desk {
            min-height: 100%;
            background-attachment: local;
            background-position: 100% 0;
            border-bottom: none !important;
        }

        .container-fluid {
            min-height: 75px;

            .navbar-header {
                min-height: 75px;

                @media @mon {
                    width: 100%;
                }

                .navbar-brand {
                    height: 75px;
                    width: 100%;
                    display: inline-block;

                    .profile-pic {
                        float: left;
                        min-height: 100%;
                        display: inline-block;
                        width: 44px;
                        background-color: #000;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
                        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
                        background: url('../images/profilepicture.jpg') no-repeat center;
                        background-size: cover;
                        background-position-y: 10%;

                        @media @galaxy {
                            width: 46px;
                        }

                        @media @iphone6 {
                            width: 46px;
                        }

                        @media @plus {
                            width: 46px;
                        }

                        @media @ils {
                            width: 46px;
                        }

                        @media @i5ls {
                            width: 46px;
                        }

                        @media @ls {
                            width: 46px;
                        }

                        @media @mon {
                            width: 46px;
                        }

                        @media @nex {
                            width: 47px;
                        }

                        @media @desk {
                            position: relative;
                            top: 125px;
                            left: 105px;
                            width: 250px;
                            height: 250px;
                        }
                    }
                }

                button {
                    position: absolute;
                    right: 0;
                    top: 10px;
                    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
                    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 1);

                    &.navbar-toggle {
                        background: rgba(0,0,0,0.8);
                        background-position: 100% 90%;
                        transition: 0.25s;
                    }

                    &.navbar-toggle.collapsed {
                        background: rgba(0,0,0,0.1);
                        background-position: 100% 11.5%;
                        transition: 0.25s;
                    }

                    .icon-bar {
                        background-color: white;
                    }
                }

                .profile {
                    color: #fff;
                    float: left;
                    display: inline-block;
                    padding: 12px 0 0 10px;
                    text-shadow: 1px 3px rgba(0,0,0,0.7);

                    @media @desk {
                        position: absolute;
                        top: 50px;
                        left: 95px;
                        font-size: 35px;
                    }

                    i {
                        display: none;
                        color: rgba(0,0,0,0.6);
                        padding-right: 5px;

                        @media @desk {
                            font-size: 20px;
                            color: #e6e6e6;
                            display: inline-block;
                            text-shadow: none;
                            padding-bottom: 5px;
                            margin-right: 5px;
                            position: relative;
                            top: -5px;
                        }
                    }
                }
            }
        }

        #navbar {
            .navbar-nav {
                margin: 0 -15px 7.5px -15px;

                @media @desk {
                    margin: 0;
                }
            }

            ul {
                text-align: center;

                @media @mon {
                    position: absolute;
                    top: 5px;
                    right: 15px;
                }

                @media @desk {
                    background: rgba(0,0,0,0.5);
                    border: 1px solid rgba(0,0,0,0.75);
                    position: absolute;
                    top: 430px;
                    left: 175px;
                    width: 145px;
                    -webkit-border-radius: 5%;
                    -moz-border-radius: 5%;
                    border-radius: 5%;
                }

                li {
                    color: white;

                    a {
                        display: inline-block;
                        color: white;

                        &.email-logo {
                            color: #000;

                            .email {
                                color: #FCFF6C;
                                transition: 0.7s;
                            }

                            &:hover {
                                color: #FCFF6C;
                                transition: 0.7s;

                                .email {
                                    color: #000;
                                    transition: 0.7s;
                                }
                            }
                        }

                        &.linkedin-logo {
                            .linkedin {
                                color: rgba(81, 127, 164, 1);
                                transition: 0.7s;
                            }

                            &:hover {
                                color: rgba(81, 127, 164, 1);
                                transition: 0.7s;

                                .linkedin {
                                    color: white;
                                    transition: 0.7s;
                                }
                            }
                        }

                        &.github-logo {
                            color: #333333;

                            .github {
                                color: #999999;
                                transition: 0.7s;
                            }

                            &:hover {
                                color: #999999;
                                transition: 0.7s;

                                .github {
                                    color: #333333;
                                    transition: 0.7s;
                                }
                            }
                        }

                        &.google-plus-logo {
                            .google-plus {
                                color: rgba(221, 75, 57, 1);
                                transition: 0.7s;
                            }

                            &:hover {
                                color: rgba(221, 75, 57, 1);
                                transition: 0.7s;

                                .google-plus {
                                    color: white;
                                    transition: 0.7s;
                                }
                            }
                        }

                        &.facebook-logo {
                            .facebook {
                                color: rgba(59, 89, 152, 1);
                                transition: 0.7s;
                            }

                            &:hover {
                                color: rgba(59, 89, 152, 1);
                                transition: 0.7s;

                                .facebook {
                                    color: white;
                                    transition: 0.7s;
                                }
                            }
                        }

                        &.twitter-logo {
                            .twitter {
                                color: rgba(0, 172, 237, 1);
                                transition: 0.7s;
                            }

                            &:hover {
                                color: rgba(0, 172, 237, 1);
                                transition: 0.7s;

                                .twitter {
                                    color: white;
                                    transition: 0.7s;
                                }
                            }
                        }

                        &.instagram-logo {
                            .instagram {
                                color: rgba(81, 127, 164, 1);
                                transition: 0.7s;
                            }

                            &:hover {
                                color: rgba(81, 127, 164, 1);
                                transition: 0.7s;

                                .instagram {
                                    color: white;
                                    transition: 0.7s;
                                }
                            }
                        }

                        &.steam-logo {
                            .steam {
                                color: #000;
                                transition: 0.7s;
                            }

                            &:hover {
                                color: #000;
                                transition: 0.7s;

                                .steam {
                                    color: #fff;
                                    transition: 0.7s;
                                }
                            }
                        }

                        .fa-google-plus {
                            top: 1px;
                            left: 1px;
                        }
                    }
                }
            }
        }

        .navbar-toggle {
            border: 1px solid #fff;
        }
    }

    .container {
        width: 100%;
        height: 100%;
        min-height: 100%;
        color: white;
        margin-top: 75px;
        padding: 0;

        @media @desk {
            margin-top: 0;
            background: rgba(221, 75, 57, 1);
            position: fixed;
            left: 500px;
            height: 100%;
            padding: 0;
            overflow-x: hidden;
        }


        .hsContainer {
            display: table;
            table-layout: fixed;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            opacity: 0;
        }
        .hsContent {
            max-width: 450px;
            margin: -150px auto 0 auto;
            display: table-cell;
            vertical-align: middle;
            color: #ebebeb;
            padding: 0 8%;
            text-align: center
        }
        .bcg {
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            height: 100%;
            width: 100%;
        }

        #slide-1 .bcg {
            height: 500px;
            background-image: url('../images/kitteh1.jpg');
        }

        #slide-2 .bcg {
            background: none;
            background-color: #010101;
            height: 500px;
            text-align: center
        }

        #slide-3 .bcg {
            background-image: url('../images/kitteh2.jpg');
        }

        #slide-5 {position: fixed;}
        #slide-5 .bcg {background-image:url('../images/nav-background.jpg')}
        #slide-5 .bcg2 {
            background-image:url('../images/nav-background.jpg');
            position: fixed; bottom: 0; right: 0;
            opacity: 0; z-index: 1
        }
        #slide-5 .bcg3 {
            background: none; background-color: #010101;
            position: fixed; bottom: 0; right: 0;
            opacity: 0; z-index: 2
        }

    }
}
