@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes profileLink {
  0% {
    transform: translate(-10px);
  }
  30% {
    transform: translate(-15px);
  }
  60% {
    transform: translate(-20px);
  }
  100% {
    transform: translate(-25px);
  }
}
/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font: 13px/1.1 Helvetica, sans-serif;
}
p {
  line-height: 1.6;
}
strong {
  font-weight: bold;
}
header {
  height: 100px;
}
header img {
  float: left;
  margin: 14px 0 0 14px;
}
header h1 {
  margin-left: 14px;
  float: left;
  font-size: 20px;
  line-height: 100px;
}
body,
html {
  height: 100%;
  min-height: 100%;
  font-family: 'PT Sans', Arial, Helvetica, Verdana, sans-serif;
}
.home-page {
  position: relative;
  max-width: 100%;
  width: 100%;
}
.home-page .header {
  position: absolute;
  z-index: 999999999;
}
.home-page .header #menu #menu-button {
  position: fixed;
  top: 20px;
  left: 20px;
  color: white;
  width: 30px;
  height: 20px;
  z-index: 9999;
}
.home-page .header #menu #menu-button #menu-text-container {
  position: relative;
  width: 65px;
  height: 25px;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.home-page .header #menu #menu-button #menu-text-container #menu-text {
  position: relative;
  display: inline-block;
  top: 6px;
  left: 5px;
  color: #FFF;
}
.home-page .header #menu #menu-button #menu-text-container #menu-lines {
  position: relative;
  top: 4px;
  left: 10px;
  display: inline-block;
  transform: rotate(90deg);
  transition: transform 1s;
  -webkit-transition: -webkit-transform 1s;
}
.home-page .header #menu #menu-button #menu-text-container #menu-lines .menu-line {
  margin-right: -2px;
}
.home-page .header #menu #menu-button #menu-text-container #menu-lines.open-menu {
  transform: rotate(0deg);
  transition: transform 1s;
  -webkit-transition: -webkit-transform 1s;
}
.home-page .header #menu #menu-tray {
  width: 0;
  position: fixed;
  top: 0;
  left: -2px;
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  border-right: 2px solid #FFF;
}
.home-page .header #menu #menu-tray.open-tray {
  left: 0;
  height: 100%;
  width: 33%;
  border-right: 2px solid #FFF;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  z-index: 999;
}
.home-page .header #menu #menu-tray .profile-pic {
  position: relative;
  top: 20%;
  left: 20%;
  width: 0;
  height: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
  background: url('../images/profilepicture.jpg') no-repeat center;
  background-size: cover;
  background-position-y: 10%;
  -webkit-transition: width 0.85s, height 0.85s, ease-in-out;
  transition: width 0.85s, height 0.85s, ease-in-out;
  z-index: 1000;
}
.home-page .header #menu #menu-tray .profile-pic.profile-pic-open {
  width: 70px;
  height: 70px;
  -webkit-transition: width 1.5s, height 1.5s, ease-in-out;
  transition: width 1.5s, height 1.5s, ease-in-out;
}
@media only screen and (min-width: 1200px) {
  .home-page .header #menu #menu-tray .profile-pic.profile-pic-open {
    width: 250px;
    height: 250px;
  }
}
.home-page .header #menu #menu-tray .profile-links {
  position: relative;
  top: 25%;
}
.home-page .header #menu #menu-tray .profile-links .profile-link-row {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  height: 45px;
  width: 100%;
  text-align: center;
  padding-top: 6px;
}
.home-page .header #menu #menu-tray .profile-links .profile-link-row .profile-link {
  color: #FFF;
  font-size: 0;
}
.home-page .header #menu #menu-tray .profile-links .profile-link-row .profile-link.profile-link-open {
  font-size: 2em;
}
.home-page .header #menu #menu-tray .profile-links .profile-link-row .profile-link.github {
  color: #999999;
}
.home-page .header #menu #menu-tray .profile-links .profile-link-row .profile-link.github i:hover {
  color: #FFFFFF;
  transition: All 1s ease;
  transform: translate(-30px) forwards;
}
.home-page .content .black-bar {
  position: relative;
  width: 100%;
  background-color: #FFF;
  height: 500px;
  z-index: 999999;
}
.home-page .content section {
  min-height: 1000px;
  position: relative;
  width: 100% !important;
  min-width: 100%;
  margin: 0;
  padding: 0;
}
.home-page .content section h1 {
  color: #4F9426;
  width: 300px;
  font-size: 65px;
  margin-bottom: 14px;
}
.home-page .content section p {
  color: black;
  width: 300px;
}
.home-page .content section article {
  position: relative;
  top: 240px;
  left: 40px;
  width: 300px;
  z-index: 4;
}
.home-page .content section#code-video {
  position: relative;
  min-height: 500px;
  background: url('../videos/Hello-World/Hello-World.jpg') no-repeat center;
}
@media only screen and (min-width: 1200px) {
  .home-page .content section#code-video {
    background: black;
  }
}
.home-page .content section#code-video .text-content {
  color: #FFF;
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 99;
}
.home-page .content section#code-video .text-content h5 {
  color: #FFF;
}
.home-page .content section#code-video .text-content h5.hello {
  font-size: 2.5em;
  animation: bounceIn 1s;
}
.home-page .content section#code-video .text-content h5.jordan {
  margin-top: 15px;
  font-size: 2em;
  opacity: 0;
  animation: bounceIn 1s ease-in-out 1.45s forwards;
}
.home-page .content section#code-video #outer-wrap {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .home-page .content section#code-video #outer-wrap {
    display: block;
  }
}
.home-page .content section#story-freext {
  background: black;
  height: 1600px;
}
.home-page .content section#story-freext article {
  height: 600px;
}
.home-page .content section#story-freext .parallax {
  margin: 0;
  height: 1600px;
  position: absolute;
  width: 100%;
  top: 0;
}
.home-page .content section#story-freext .parallax.background-shoes {
  background: url(../img/nike-bg.jpeg) 50% 0 no-repeat fixed;
  left: 0;
}
.home-page .content section#story-freext .parallax.foreground-shoes {
  background: url(../img/nike.png) 50% 0 no-repeat fixed;
  left: 0;
}
.home-page .content section#bottle {
  background: whitesmoke;
  height: 1200px;
}
.home-page .content section#bottle .parallax {
  background: url(../img/bottle.jpeg) 50% 0 no-repeat fixed;
  margin: 0;
  height: 1200px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.parallax-item {
  position: absolute;
  z-index: 5;
  top: 40px;
  left: 400px;
}
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.homepage-hero-module .video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.homepage-hero-module .video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.homepage-hero-module .video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.homepage-hero-module .video-container video.fillWidth {
  width: 100%;
}
.homepage-hero-module .video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
@media only screen and (min-width: 1200px) {
  .homepage-hero-module.header-video .video-container video.fillWidth {
    min-width: 1400px;
  }
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
