@galaxy: ~"only screen and (min-width: 360px)";
@iphone6: ~"only screen and (min-width: 375px)";
@plus: ~"only screen and (min-width: 414px)";
@ils: ~"only screen and (min-width: 480px)";
@i5ls: ~"only screen and (min-width: 568px)";
@ls: ~"only screen and (min-width: 640px)";
@mon: ~"only screen and (min-width: 768px)";
@nex: ~"only screen and (min-width: 800px)";
@fs: ~"only screen and (min-width: 960px)";
@desk: ~"only screen and (min-width: 1200px)";

body, html {
    height: 100%;
    min-height: 100%;
    font-family: arial,helvetica;
}

.home-page {
    background-color: rgba(0,0,0, 1);

    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        @media @desk {
            position: fixed;
            border-right: 2px solid #fff !important;
            height: 100%;
            width: 500px;
            margin-bottom: 0;
            border-radius: 0;
        }
    }

    .navbar.navbar-default {
        min-height: 75px;
        background: url('../images/nav-background.jpg') no-repeat center;
        background-attachment: fixed;
        border: none;
        border-bottom: solid #fff 2px !important;

        @media @desk {
            min-height: 100%;
            background-attachment: local;
            background-position: 100% 0;
            border-bottom: none !important;
        }

        .container-fluid {
            min-height: 75px;

            .navbar-header {
                min-height: 75px;

                @media @mon {
                    width: 100%;
                }

                .navbar-brand {
                    height: 75px;
                    width: 100%;
                    display: inline-block;

                    .profile-pic {
                        float: left;
                        min-height: 100%;
                        display: inline-block;
                        width: 44px;
                        background-color: #000;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
                        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
                        background: url('../images/profilepicture.jpg') no-repeat center;
                        background-size: cover;
                        background-position-y: 10%;

                        @media @galaxy {
                            width: 46px;
                        }

                        @media @iphone6 {
                            width: 46px;
                        }

                        @media @plus {
                            width: 46px;
                        }

                        @media @ils {
                            width: 46px;
                        }

                        @media @i5ls {
                            width: 46px;
                        }

                        @media @ls {
                            width: 46px;
                        }

                        @media @mon {
                            width: 46px;
                        }

                        @media @nex {
                            width: 47px;
                        }

                        @media @desk {
                            position: relative;
                            top: 125px;
                            left: 105px;
                            width: 250px;
                            height: 250px;
                        }
                    }
                }

                button {
                    position: absolute;
                    right: 0;
                    top: 10px;
                    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
                    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 1);

                    &.navbar-toggle {
                        background: rgba(0,0,0,0.8);
                        background-position: 100% 90%;
                        transition: 0.25s;
                    }

                    &.navbar-toggle.collapsed {
                        background: rgba(0,0,0,0.1);
                        background-position: 100% 11.5%;
                        transition: 0.25s;
                    }

                    .icon-bar {
                        background-color: white;
                    }
                }

                .profile {
                    color: #fff;
                    float: left;
                    display: inline-block;
                    padding: 12px 0 0 10px;
                    text-shadow: 1px 3px rgba(0,0,0,0.7);
                    cursor: default;

                    @media @desk {
                        position: absolute;
                        top: 50px;
                        left: 95px;
                        font-size: 35px;
                    }

                    i {
                        display: none;
                        color: rgba(0,0,0,0.6);
                        padding-right: 5px;

                        @media @desk {
                            font-size: 20px;
                            color: #e6e6e6;
                            display: inline-block;
                            text-shadow: none;
                            padding-bottom: 5px;
                            margin-right: 5px;
                            position: relative;
                            top: -5px;
                        }
                    }
                }

                .profile-contact {
                    display: none;

                    @media @desk {
                        position: absolute;
                        top:  50px;

                    }
                }
            }
        }

        #navbar {
            .navbar-nav {
                margin: 0 -15px 7.5px -15px;

                @media @desk {
                    margin: 0;
                }
            }

            ul {
                text-align: center;

                @media @mon {
                    position: absolute;
                    top: 5px;
                    right: 15px;
                }

                @media @desk {
                    background: rgba(0,0,0,0.5);
                    border: 1px solid rgba(0,0,0,0.75);
                    position: absolute;
                    top: 430px;
                    left: 175px;
                    width: 145px;
                    -webkit-border-radius: 5%;
                    -moz-border-radius: 5%;
                    border-radius: 5%;
                }

                li {
                    color: white;

                    a {
                        display: inline-block;
                        color: white;

                        &.email-logo {
                            color: #fff;

                            .email {
                                color: #9649CB;
                                transition: 0.7s;
                            }

                            &:hover {
                                color: #9649CB;
                                transition: 0.7s;

                                .email {
                                    color: #fff;
                                    transition: 0.7s;
                                }
                            }
                        }

                        &.linkedin-logo {
                            .linkedin {
                                color: rgba(81, 127, 164, 1);
                                transition: 0.7s;
                            }

                            &:hover {
                                color: rgba(81, 127, 164, 1);
                                transition: 0.7s;

                                .linkedin {
                                    color: white;
                                    transition: 0.7s;
                                }
                            }
                        }

                        &.github-logo {
                            color: #333333;

                            .github {
                                color: #999999;
                                transition: 0.7s;
                            }

                            &:hover {
                                color: #999999;
                                transition: 0.7s;

                                .github {
                                    color: #333333;
                                    transition: 0.7s;
                                }
                            }
                        }

                        &.google-plus-logo {
                            .google-plus {
                                color: rgba(221, 75, 57, 1);
                                transition: 0.7s;
                            }

                            &:hover {
                                color: rgba(221, 75, 57, 1);
                                transition: 0.7s;

                                .google-plus {
                                    color: white;
                                    transition: 0.7s;
                                }
                            }
                        }

                        &.facebook-logo {
                            .facebook {
                                color: rgba(59, 89, 152, 1);
                                transition: 0.7s;
                            }

                            &:hover {
                                color: rgba(59, 89, 152, 1);
                                transition: 0.7s;

                                .facebook {
                                    color: white;
                                    transition: 0.7s;
                                }
                            }
                        }

                        &.twitter-logo {
                            .twitter {
                                color: rgba(0, 172, 237, 1);
                                transition: 0.7s;
                            }

                            &:hover {
                                color: rgba(0, 172, 237, 1);
                                transition: 0.7s;

                                .twitter {
                                    color: white;
                                    transition: 0.7s;
                                }
                            }
                        }

                        &.instagram-logo {
                            .instagram {
                                color: rgba(81, 127, 164, 1);
                                transition: 0.7s;
                            }

                            &:hover {
                                color: rgba(81, 127, 164, 1);
                                transition: 0.7s;

                                .instagram {
                                    color: white;
                                    transition: 0.7s;
                                }
                            }
                        }

                        &.steam-logo {
                            .steam {
                                color: #000;
                                transition: 0.7s;
                            }

                            &:hover {
                                color: #000;
                                transition: 0.7s;

                                .steam {
                                    color: #fff;
                                    transition: 0.7s;
                                }
                            }
                        }

                        .fa-google-plus {
                            top: 1px;
                            left: 1px;
                        }
                    }
                }
            }
        }

        .navbar-toggle {
            border: 1px solid #fff;
        }
    }

    /*.container {
        width: 100%;
        height: 100%;
        color: white;
        margin-top: 75px;
        padding: 0;


        @media @desk {
            margin-top: 0;
            background: rgba(221, 75, 57, 1);
            position: absolute;
            right: 0;
            height: 100%;
            padding: 0;
        }

        .hsContainer {
            display: table;
            table-layout: fixed;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            opacity: 1;
        }

        .hsContent {
            max-width: 450px;
            margin: -150px auto 0 auto;
            display: table-cell;
            vertical-align: middle;
            color: #ebebeb;
            padding: 0 8%;
            text-align: center;

            h2 {
                text-transform: uppercase;
            text-shadow: 2px 2px rgba(0,0,0,1);

            }
        }

        .bcg {
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            height: 100%;
            width: 100%;
        }

        .tech-stack, .tools-used {
            font-size: 50px;
            text-shadow: 2px 2px rgba(0,0,0,1);
            position: relative;
            right: 0px;
            float: right;
            ul {
                li {
                    display: inline-block;
                    a {
                        display: inline-block;
                        color: white;
                        text-decoration: none;

                        .devicons-github {
                            &:hover {
                                color: #999999;
                                transition: 0.3s;
                            }
                        }

                        .fa-steam {
                            &:hover {
                                color: #000;
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
        }

        #slide-1 .bcg {
            height: 800px;
            background-image: url('../images/cosmos.jpg');
        }

        #slide-2 .bcg {
            background: none;
            background-color: #010101;
            height: 850px;
            text-align: center;
            z-index: 10;
        }

        #slide-3 .bcg {
            height: 800px;
            background-image: url('../images/pyramid.jpg');
        }
        #slide-4 .bcg {
            background-image: url('../images/city.jpg');
            height: 850px;
            text-align: center;
            z-index: 10;
        }
    }

            height: 2700px !important;

    @media @desk {
        height: 3000px !important;
    }

    */

    #fullpage {
        .wrap{
	        margin-left: auto;
	        margin-right: auto;
	        width: 960px;
	        position: relative;
        }

        h1{
	        font-size: 6em;
        }

        p{
	        font-size: 2em;
        }

        .intro p{
	        width: 50%;
	        margin: 0 auto;
	        font-size: 1.5em;
        }

        .section{
            padding-top: 75px;
	        text-align:center;

            @media @desk {
                padding-top: 0;
            }
        }
        
        #section0 {
            color: #fff;
            text-shadow: 1px 1px rgba(0,0,0,0.8);
            background: url('../images/winter.jpg') no-repeat;
            background-size: cover;
            text-align: center;
        }

        #section1 {
            color: #fff;
            text-shadow: 1px 1px rgba(0,0,0,0.8);
            background: url('../images/spring.jpg') no-repeat;
            background-size: cover;
            text-align: center;

            /*.intro {
                h1 {
                    margin: 0 auto;
                }
                h1,div,p {
                    background: rgba(0,0,0,0.4);
                border: 1px solid rgba(0,0,0,0.8);
                }
                
            }*/

            ul {
                padding-left: 0;
                text-align: center;
                li {
                    display: inline-block;
                }
            }

            .devicons {
                font-size: 3em;
            }
        }

        #section2 {
            color: #fff;
            text-shadow: 1px 1px rgba(0,0,0,0.8);
            background: url('../images/summer.jpg') no-repeat;
            background-size: cover;
            text-align: center;
        }

        #section3 {
            color: #fff;
            text-shadow: 1px 1px rgba(0,0,0,0.8);
            background: url('../images/leaves.jpg') no-repeat;
            background-size: cover;
            text-align: center;
        }

        @media @desk {
            position: absolute !important;
            left: 500px;
        }
    }


}

/*Fullpage.js Styling*/
