body,
html {
  height: 100%;
  min-height: 100%;
  font-family: arial,helvetica;
}
.home-page {
  background-color: #000000;
  /*.container {
        width: 100%;
        height: 100%;
        color: white;
        margin-top: 75px;
        padding: 0;


        @media @desk {
            margin-top: 0;
            background: rgba(221, 75, 57, 1);
            position: absolute;
            right: 0;
            height: 100%;
            padding: 0;
        }

        .hsContainer {
            display: table;
            table-layout: fixed;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            opacity: 1;
        }

        .hsContent {
            max-width: 450px;
            margin: -150px auto 0 auto;
            display: table-cell;
            vertical-align: middle;
            color: #ebebeb;
            padding: 0 8%;
            text-align: center;

            h2 {
                text-transform: uppercase;
            text-shadow: 2px 2px rgba(0,0,0,1);

            }
        }

        .bcg {
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            height: 100%;
            width: 100%;
        }

        .tech-stack, .tools-used {
            font-size: 50px;
            text-shadow: 2px 2px rgba(0,0,0,1);
            position: relative;
            right: 0px;
            float: right;
            ul {
                li {
                    display: inline-block;
                    a {
                        display: inline-block;
                        color: white;
                        text-decoration: none;

                        .devicons-github {
                            &:hover {
                                color: #999999;
                                transition: 0.3s;
                            }
                        }

                        .fa-steam {
                            &:hover {
                                color: #000;
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
        }

        #slide-1 .bcg {
            height: 800px;
            background-image: url('../images/cosmos.jpg');
        }

        #slide-2 .bcg {
            background: none;
            background-color: #010101;
            height: 850px;
            text-align: center;
            z-index: 10;
        }

        #slide-3 .bcg {
            height: 800px;
            background-image: url('../images/pyramid.jpg');
        }
        #slide-4 .bcg {
            background-image: url('../images/city.jpg');
            height: 850px;
            text-align: center;
            z-index: 10;
        }
    }

            height: 2700px !important;

    @media @desk {
        height: 3000px !important;
    }

    */
}
.home-page nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .home-page nav {
    position: fixed;
    border-right: 2px solid #fff !important;
    height: 100%;
    width: 500px;
    margin-bottom: 0;
    border-radius: 0;
  }
}
.home-page .navbar.navbar-default {
  min-height: 75px;
  background: url('../images/nav-background.jpg') no-repeat center;
  background-attachment: fixed;
  border: none;
  border-bottom: solid #fff 2px !important;
}
@media only screen and (min-width: 1200px) {
  .home-page .navbar.navbar-default {
    min-height: 100%;
    background-attachment: local;
    background-position: 100% 0;
    border-bottom: none !important;
  }
}
.home-page .navbar.navbar-default .container-fluid {
  min-height: 75px;
}
.home-page .navbar.navbar-default .container-fluid .navbar-header {
  min-height: 75px;
}
@media only screen and (min-width: 768px) {
  .home-page .navbar.navbar-default .container-fluid .navbar-header {
    width: 100%;
  }
}
.home-page .navbar.navbar-default .container-fluid .navbar-header .navbar-brand {
  height: 75px;
  width: 100%;
  display: inline-block;
}
.home-page .navbar.navbar-default .container-fluid .navbar-header .navbar-brand .profile-pic {
  float: left;
  min-height: 100%;
  display: inline-block;
  width: 44px;
  background-color: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
  background: url('../images/profilepicture.jpg') no-repeat center;
  background-size: cover;
  background-position-y: 10%;
}
@media only screen and (min-width: 360px) {
  .home-page .navbar.navbar-default .container-fluid .navbar-header .navbar-brand .profile-pic {
    width: 46px;
  }
}
@media only screen and (min-width: 375px) {
  .home-page .navbar.navbar-default .container-fluid .navbar-header .navbar-brand .profile-pic {
    width: 46px;
  }
}
@media only screen and (min-width: 414px) {
  .home-page .navbar.navbar-default .container-fluid .navbar-header .navbar-brand .profile-pic {
    width: 46px;
  }
}
@media only screen and (min-width: 480px) {
  .home-page .navbar.navbar-default .container-fluid .navbar-header .navbar-brand .profile-pic {
    width: 46px;
  }
}
@media only screen and (min-width: 568px) {
  .home-page .navbar.navbar-default .container-fluid .navbar-header .navbar-brand .profile-pic {
    width: 46px;
  }
}
@media only screen and (min-width: 640px) {
  .home-page .navbar.navbar-default .container-fluid .navbar-header .navbar-brand .profile-pic {
    width: 46px;
  }
}
@media only screen and (min-width: 768px) {
  .home-page .navbar.navbar-default .container-fluid .navbar-header .navbar-brand .profile-pic {
    width: 46px;
  }
}
@media only screen and (min-width: 800px) {
  .home-page .navbar.navbar-default .container-fluid .navbar-header .navbar-brand .profile-pic {
    width: 47px;
  }
}
@media only screen and (min-width: 1200px) {
  .home-page .navbar.navbar-default .container-fluid .navbar-header .navbar-brand .profile-pic {
    position: relative;
    top: 125px;
    left: 105px;
    width: 250px;
    height: 250px;
  }
}
.home-page .navbar.navbar-default .container-fluid .navbar-header button {
  position: absolute;
  right: 0;
  top: 10px;
  -webkit-box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
}
.home-page .navbar.navbar-default .container-fluid .navbar-header button.navbar-toggle {
  background: rgba(0, 0, 0, 0.8);
  background-position: 100% 90%;
  transition: 0.25s;
}
.home-page .navbar.navbar-default .container-fluid .navbar-header button.navbar-toggle.collapsed {
  background: rgba(0, 0, 0, 0.1);
  background-position: 100% 11.5%;
  transition: 0.25s;
}
.home-page .navbar.navbar-default .container-fluid .navbar-header button .icon-bar {
  background-color: white;
}
.home-page .navbar.navbar-default .container-fluid .navbar-header .profile {
  color: #fff;
  float: left;
  display: inline-block;
  padding: 12px 0 0 10px;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.7);
  cursor: default;
}
@media only screen and (min-width: 1200px) {
  .home-page .navbar.navbar-default .container-fluid .navbar-header .profile {
    position: absolute;
    top: 50px;
    left: 95px;
    font-size: 35px;
  }
}
.home-page .navbar.navbar-default .container-fluid .navbar-header .profile i {
  display: none;
  color: rgba(0, 0, 0, 0.6);
  padding-right: 5px;
}
@media only screen and (min-width: 1200px) {
  .home-page .navbar.navbar-default .container-fluid .navbar-header .profile i {
    font-size: 20px;
    color: #e6e6e6;
    display: inline-block;
    text-shadow: none;
    padding-bottom: 5px;
    margin-right: 5px;
    position: relative;
    top: -5px;
  }
}
.home-page .navbar.navbar-default .container-fluid .navbar-header .profile-contact {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .home-page .navbar.navbar-default .container-fluid .navbar-header .profile-contact {
    position: absolute;
    top: 50px;
  }
}
.home-page .navbar.navbar-default #navbar .navbar-nav {
  margin: 0 -15px 7.5px -15px;
}
@media only screen and (min-width: 1200px) {
  .home-page .navbar.navbar-default #navbar .navbar-nav {
    margin: 0;
  }
}
.home-page .navbar.navbar-default #navbar ul {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .home-page .navbar.navbar-default #navbar ul {
    position: absolute;
    top: 5px;
    right: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .home-page .navbar.navbar-default #navbar ul {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 430px;
    left: 175px;
    width: 145px;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
  }
}
.home-page .navbar.navbar-default #navbar ul li {
  color: white;
}
.home-page .navbar.navbar-default #navbar ul li a {
  display: inline-block;
  color: white;
}
.home-page .navbar.navbar-default #navbar ul li a.email-logo {
  color: #fff;
}
.home-page .navbar.navbar-default #navbar ul li a.email-logo .email {
  color: #9649CB;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.email-logo:hover {
  color: #9649CB;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.email-logo:hover .email {
  color: #fff;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.linkedin-logo .linkedin {
  color: #517fa4;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.linkedin-logo:hover {
  color: #517fa4;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.linkedin-logo:hover .linkedin {
  color: white;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.github-logo {
  color: #333333;
}
.home-page .navbar.navbar-default #navbar ul li a.github-logo .github {
  color: #999999;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.github-logo:hover {
  color: #999999;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.github-logo:hover .github {
  color: #333333;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.google-plus-logo .google-plus {
  color: #dd4b39;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.google-plus-logo:hover {
  color: #dd4b39;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.google-plus-logo:hover .google-plus {
  color: white;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.facebook-logo .facebook {
  color: #3b5998;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.facebook-logo:hover {
  color: #3b5998;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.facebook-logo:hover .facebook {
  color: white;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.twitter-logo .twitter {
  color: #00aced;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.twitter-logo:hover {
  color: #00aced;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.twitter-logo:hover .twitter {
  color: white;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.instagram-logo .instagram {
  color: #517fa4;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.instagram-logo:hover {
  color: #517fa4;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.instagram-logo:hover .instagram {
  color: white;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.steam-logo .steam {
  color: #000;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.steam-logo:hover {
  color: #000;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a.steam-logo:hover .steam {
  color: #fff;
  transition: 0.7s;
}
.home-page .navbar.navbar-default #navbar ul li a .fa-google-plus {
  top: 1px;
  left: 1px;
}
.home-page .navbar.navbar-default .navbar-toggle {
  border: 1px solid #fff;
}
@media only screen and (min-width: 1200px) {
  .home-page #fullpage {
    position: absolute !important;
    left: 400px;
  }
}
/*Fullpage.js Styling*/
.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}
h1 {
  font-size: 6em;
}
p {
  font-size: 2em;
}
.intro p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}
.section {
  text-align: center;
}
