@xs: ~"(min-width:320px) and (max-width:479px)";
@sm: ~"(min-width: 480px) and (max-width:639px)";
@md: ~"(min-width: 640px) and (max-width:767px)";
@lg: ~"(min-width: 768px) and (max-width:991px)";
@xl: ~"(min-width: 992px)";
@xxl: ~"(min-width: 1200px)";

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(0.33);
  }
  25% {
    transform: scale(0.66);
  }
  50% {
    transform: scale(0.99);
  }
  75% {
    transform: scale(0.66);
  }
  100% {
    transform: scale(0.33);
  }
}

@keyframes affixFadeIn
{
from {opacity: 0;}
to {opacity: 1;}
}

@-webkit-keyframes affixFadeIn 
{
from {opacity: 1;}
to {opacity: 0;}
}

@keyframes affixFadeOut
{
from {opacity: 0;}
to {opacity: 1;}
}

@-webkit-keyframes affixFadeOut
{
from {opacity: 1;}
to {opacity: 0;}
}

